In [1]:
import pandas as pd
import numpy as np

In [30]:
#importing the csv file with the dates idnex
returns=pd.read_csv("data/portfolios_formed_on_ME_monthly_EW.csv", index_col=[0], parse_dates=True, na_values=-99.99)
#taking only the lowest and highest 10% of stocks, eg Small Cap and Large Cap
columns=["Lo 10", "Hi 10"]
returns=returns[columns]
returns.columns=["Small Cap", "Large Cap"]
#changing the dates to Year and months format and removing the dates
returns.index=pd.to_datetime(returns.index, format="%Y%m")
returns.index=returns.index.to_period("M")
#showing the returns in %
returns=returns/100
returns.head()

         Small Cap  Large Cap
1926-07    -0.0145     0.0329
1926-08     0.0512     0.0370
1926-09     0.0093     0.0067
1926-10    -0.0484    -0.0243
1926-11    -0.0078     0.0270

In [32]:
#wealth index is how much invested 1000 changes over the time
wealth_index=1000*(1+returns["Large Cap"]).cumprod()
wealth_index.head()

1926-07    1032.900000
1926-08    1071.117300
1926-09    1078.293786
1926-10    1052.091247
1926-11    1080.497711
Freq: M, Name: Large Cap, dtype: float64

In [55]:
#previous peaks is the highest achieved wealth from 1000 usd until the indicated date
previous_peaks=wealth_index.cummax()
#drawdown is the maximum loss in %
drawdown=(wealth_index-previous_peaks)/previous_peaks
#drawdown min to show the maximum drawdown as it is in minus
drawdown.min()

-0.8400375277943123

In [54]:
#when did the above drawdown happened?
drawdown.idxmin()

Period('1932-05', 'M')

In [61]:
#what is I want to do with Small Caps? lets create function.
def drawdown(return_series:pd.Series):
    """
    This function takes returns,calculates wealth index, previous peaks, drawndowns, thus we can assign Small Cap. 
    """
  
    wealth_index=1000*(1+return_series).cumprod()
    previous_peaks=wealth_index.cummax()
    drawdowns=(wealth_index-previous_peaks)/previous_peaks
    return pd.DataFrame({
        "Wealth": wealth_index,
        "Peaks": previous_peaks,
        "Drawdowns": drawdowns
    })

In [76]:
#the results of the year of 1950 for Large caps for wealth and peaks
drawdown(returns["1950"]["Large Cap"])[["Wealth","Peaks"]].head(100)

<ipython-input-76-55eed15a35b3>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  drawdown(returns["1950"]["Large Cap"])[["Wealth","Peaks"]].head(100)

              Wealth        Peaks
1950-01  1014.300000  1014.300000
1950-02  1021.400100  1021.400100
1950-03  1033.963321  1033.963321
1950-04  1065.292410  1065.292410
1950-05  1112.378334  1112.378334
1950-06  1048.082867  1112.378334
1950-07  1056.153105  1112.378334
1950-08  1103.891225  1112.378334
1950-09  1157.981895  1157.981895
1950-10  1156.013326  1157.981895
1950-11  1192.658948  1192.658948
1950-12  1253.365289  1253.365289

In [77]:
#the results of the year of 1950 for Large caps for wealth and peaks
drawdown(returns["1950"]["Small Cap"])[["Wealth","Peaks"]].head(100)

<ipython-input-77-46153f63c732>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  drawdown(returns["1950"]["Small Cap"])[["Wealth","Peaks"]].head(100)

              Wealth        Peaks
1950-01  1061.800000  1061.800000
1950-02  1090.468600  1090.468600
1950-03  1085.561491  1090.468600
1950-04  1158.511224  1158.511224
1950-05  1211.802740  1211.802740
1950-06  1097.045020  1211.802740
1950-07  1209.382430  1211.802740
1950-08  1272.754070  1272.754070
1950-09  1329.137075  1329.137075
1950-10  1333.921969  1333.921969
1950-11  1369.671077  1369.671077
1950-12  1595.940739  1595.940739

In [ ]:
#Thanks.